In [6]:
import pandas as pd
import numpy as np

In [7]:
df_init = pd.read_csv('data/train.csv' , sep = ';')
df_init.info()
len(df_init)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 21 columns):
age               2999 non-null int64
job               2999 non-null object
marital           2999 non-null object
education         2999 non-null object
default           2999 non-null object
housing           2999 non-null object
loan              2999 non-null object
contact           2999 non-null object
month             2999 non-null object
day_of_week       2999 non-null object
duration          2999 non-null int64
campaign          2999 non-null int64
pdays             2999 non-null int64
previous          2999 non-null int64
poutcome          2999 non-null object
emp.var.rate      2999 non-null float64
cons.price.idx    2999 non-null float64
cons.conf.idx     2999 non-null float64
euribor3m         2999 non-null float64
nr.employed       2999 non-null float64
y                 2999 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 492.1+ KB

2999

In [8]:
df=df_init
#df['job'].unique()
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [9]:
df['Job']=df['job'].map({'blue-collar':1, 'services':2, 'admin.':3, 'entrepreneur':4,'self-employed':5, 'technician':6, 'management':7, 'student':8, 'retired':9,'housemaid':10, 'unemployed':11, 'unknown':12}).astype(int)
df = df.drop(['job'], axis=1)

In [10]:
#df['marital'].unique()

In [11]:
df['Marital']=df['marital'].map({'married':1, 'single':2, 'divorced':3,'unknown':0,}).astype(int)
df = df.drop(['marital'], axis=1)

In [51]:
df_init['education'].unique()

array(['basic.9y', 'high.school', 'university.degree',
       'professional.course', 'basic.6y', 'basic.4y', 'unknown'], dtype=object)

In [13]:
df['Edu']=df['education'].map({'basic.9y':1, 'high.school':2, 'university.degree':3, 'professional.course':4,'basic.6y':5, 'basic.4y':6, 'unknown':0}).astype(int)

In [14]:
#df['default'].unique()

In [15]:
df['Default']=df['default'].map({'no':1,'unknown':0,}).astype(int)

In [16]:
#df['housing'].unique()

In [17]:
df['Housing']=df['housing'].map({'yes':1,'no':2,'unknown':0}).astype(int)

In [18]:
#df['loan'].unique()

In [19]:
df['Loan']=df['loan'].map({'yes':1,'no':2,'unknown':0}).astype(int)

In [20]:
#df['contact'].unique()

In [21]:
df['Contact']=df['contact'].map({'cellular':1,'telephone':2}).astype(int)

In [22]:
#df['month'].unique()

In [23]:
df['Month']=df['month'].map({'sep':9, 'nov':11, 'mar':3, 'apr':4,'may':5, 'jun':6, 'jul':7, 'aug':8, 'oct':10,'dec':12}).astype(int)

In [24]:
#df['day_of_week'].unique()

In [25]:
df['Workday']=df['day_of_week'].map({'mon':1, 'tue':2, 'wed':3, 'thu':4,'fri':5}).astype(int)

In [26]:
#df['poutcome'].unique()

In [27]:
df['Poutcome']=df['poutcome'].map({'nonexistent':1, 'failure':2, 'success':3}).astype(int)

In [28]:
#df['y'].unique()

In [29]:
df['Y']=df['y'].map({'no':0,'yes':1}).astype(int)

In [30]:
df = df.drop(['education','default','housing','loan','contact','month','day_of_week','poutcome','y'], axis=1)

In [31]:
#cols = df.columns.tolist()

#print(len(cols),cols)

In [32]:
#cols = [cols[0]] + cols[10:18] + cols[0:4] + cols[18:19]+ cols[4:10] + cols[19:20]
#df_rset = df[cols]

In [33]:
#df_rset.head(5)

In [34]:
train_data = df.values

In [35]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)

In [36]:
model = model.fit(train_data[0:,:1], train_data[0:,-1])

#finish of training using random-forest

In [41]:
df_test = pd.read_csv('data/test.csv' , sep = ';')
df_test.info()
len(df_test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 20 columns):
age               1120 non-null int64
job               1120 non-null object
marital           1120 non-null object
education         1120 non-null object
default           1120 non-null object
housing           1120 non-null object
loan              1120 non-null object
contact           1120 non-null object
month             1120 non-null object
day_of_week       1120 non-null object
duration          1120 non-null int64
campaign          1120 non-null int64
pdays             1120 non-null int64
previous          1120 non-null int64
poutcome          1120 non-null object
emp.var.rate      1120 non-null float64
cons.price.idx    1120 non-null float64
cons.conf.idx     1120 non-null float64
euribor3m         1120 non-null float64
nr.employed       1120 non-null float64
dtypes: float64(5), int64(5), object(10)
memory usage: 175.1+ KB

1120

In [42]:
df_test['Job']=df_test['job'].map({'blue-collar':1, 'services':2, 'admin.':3, 'entrepreneur':4,'self-employed':5, 'technician':6, 'management':7, 'student':8, 'retired':9,'housemaid':10, 'unemployed':11, 'unknown':0}).astype(int)
df_test = df_test.drop(['job'], axis=1)
df_test['Marital']=df_test['marital'].map({'married':1, 'single':2, 'divorced':3,'unknown':0,}).astype(int)
df_test = df_test.drop(['marital'], axis=1)

#pandas get dummy

In [49]:
df_test['education'].unique()

array(['university.degree', 'high.school', 'basic.9y',
       'professional.course', 'unknown', 'basic.4y', 'basic.6y',
       'illiterate'], dtype=object)

In [56]:
df_test['default'].unique()

array(['no', 'unknown', 'yes'], dtype=object)

In [53]:

df_test['Housing']=df_test['housing'].map({'yes':1,'no':2,'unknown':0}).astype(int)
df_test['Loan']=df_test['loan'].map({'yes':1,'no':2,'unknown':0}).astype(int)
df_test['Contact']=df_test['contact'].map({'cellular':1,'telephone':2}).astype(int)
df_test['Month']=df_test['month'].map({'sep':9, 'nov':11, 'mar':3, 'apr':4,'may':5, 'jun':6, 'jul':7, 'aug':8, 'oct':10,'dec':12}).astype(int)
df_test['Workday']=df_test['day_of_week'].map({'mon':1, 'tue':2, 'wed':3, 'thu':4,'fri':5}).astype(int)
df_test['Poutcome']=df_test['poutcome'].map({'nonexistent':1, 'failure':2, 'success':3}).astype(int)
df_test = df_test.drop(['education','default','housing','loan','contact','month','day_of_week','poutcome','y'], axis=1)

ValueError: labels ['y'] not contained in axis